<dl style="margin-top: 2%; width: 50%; font-size: x-small;">

	<dt
		style="font-weight: bold; float: left; margin-left: 2%; margin-right: 2%;">Title
		:</dt>
	<dd>{data.title}</dd>
	<dt style="border-bottom: 1px solid #DFE8F6; margin-bottom: 4%;" />


	<dt
		style="font-weight: bold; float: left;; margin-left: 2%; margin-right: 2%;">Place
		:</dt>
	<dd>{data.place}</dd>
	<dt style="border-bottom: 1px solid #DFE8F6; margin-bottom: 4%;" />


	<dt
		style="font-weight: bold; float: left;; margin-left: 2%; margin-right: 2%;">Description
		:</dt>
	<dd>
		<p>{data.description}</p>
	</dd>
	<dt style="border-bottom: 1px solid #DFE8F6; margin-bottom: 4%;" />

	<dt
		style="font-weight: bold; float: left;; margin-left: 2%; margin-right: 2%;">Date
		:</dt>
	<dd>
		<p>{data.date:date("d/M/yyyy")}</p>
	</dd>
	<dt style="border-bottom: 1px solid #DFE8F6; margin-bottom: 4%;" />

	<dt
		style="font-weight: bold; float: left;; margin-left: 2%; margin-right: 2%;">Celebrated
		:</dt>
	<dd>
		<p>{data.celebrated}</p>
	</dd>
	<dt style="border-bottom: 1px solid #DFE8F6; margin-bottom: 4%;" />

	<dt
		style="font-weight: bold; float: left;; margin-left: 2%; margin-right: 2%;">Conclusions
		:</dt>
	<dd>
		<p>{data.conclusions}</p>
	</dd>
	<dt style="border-bottom: 1px solid #DFE8F6; margin-bottom: 4%;" />


</dl>
