
<dl class="personal_info" style="margin-left: 2%;padding-left: 6%;margin-top: 8%;font-size: x-small;">

	<dt style="font-weight:bold;float:left;margin-left:2%;margin-right:2%;">Name :</dt>
	<dd>{data.name}</dd>
	<dt style="border-bottom: 1px solid #DFE8F6;margin-bottom:8%;"/>
	
	
	<dt style="font-weight:bold;float:left;;margin-left:2%;margin-right:2%;">Lastname1 :</dt>
	<dd>{data.lastname1}</dd>
	<dt style="border-bottom: 1px solid #DFE8F6;margin-bottom:8%;"/>
	
	
	<dt style="font-weight:bold;float:left;;margin-left:2%;margin-right:2%;">Lastname2 :</dt>
	<dd>{data.lastname2}</dd>
	<dt style="border-bottom: 1px solid #DFE8F6;margin-bottom:8%;"/>
	
	
	<dt style="font-weight:bold;float:left;margin-left:2%;margin-right:2%;">Birthday :</dt>
	<dd>{data.birthday:date("d/M/yyyy")}</dd>
	<dt style="border-bottom: 1px solid #DFE8F6;margin-bottom:8%;"/>
	
	<dt style="font-weight:bold;float:left;;margin-left:2%;margin-right:2%;">City :</dt>
	<dd>{data.city}</dd>
	<dt style="border-bottom: 1px solid #DFE8F6;margin-bottom:8%;"/>
	
	<dt style="font-weight:bold;float:left;;margin-left:2%;margin-right:2%;">Web Page :</dt>
	<dd>{data.webSite}</dd>
	<dt style="border-bottom: 1px solid #DFE8F6;margin-bottom:8%;"/>

</dl>

