
<dl 
	style="margin-top: 2%;width:50%;font-size:x-small;">

	<dt
		style="font-weight: bold; float: left; margin-left: 2%; margin-right: 2%;">Title
		:</dt>
	<dd>{data.title}</dd>
	<dt style="border-bottom: 1px solid #DFE8F6; margin-bottom: 4%;" />


	<dt
		style="font-weight: bold; float: left;; margin-left: 2%; margin-right: 2%;">Knowledge
		Area :</dt>
	<dd>{data.knowledgeArea.name}</dd>
	<dt style="border-bottom: 1px solid #DFE8F6; margin-bottom: 4%;" />


	<dt
		style="font-weight: bold; float: left;; margin-left: 2%; margin-right: 2%;">Description
		:</dt>
	<dd>
		<p>{data.description}</p>
	</dd>
	<dt style="border-bottom: 1px solid #DFE8F6; margin-bottom: 4%;" />
	
	<dt
		style="font-weight: bold; float: left;; margin-left: 2%; margin-right: 2%;">Manager
		:</dt>
	<dd>
		<p>{data.manager}</p>
	</dd>
	<dt style="border-bottom: 1px solid #DFE8F6; margin-bottom: 4%;" />
	
	<dt
		style="font-weight: bold; float: left;; margin-left: 2%; margin-right: 2%;">Published
		:</dt>
	<dd>
		<p>{data.published}</p>
	</dd>
	<dt style="border-bottom: 1px solid #DFE8F6; margin-bottom: 4%;" />


</dl>
